<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
        <title>Edit User</title>
            <style>
                body {font-family: sans-serif;}
            </style>
</head>

<body>

<h1>Edit User</h1>

<form action="/admin/edit" method="POST">
    <input type="hidden" th:name="id" th:value="${user.id}">
    <label for="first_name">First Name</label>
    <input type="text" th:name="firstName" id="first_name" th:value="${user.firstName}">
    <br> <br>
    <label for="last_name">Last Name</label>
    <input type="text" th:name="lastName" id="last_name" th:value="${user.lastName}">
    <br> <br>
    <label for="age">Age &nbsp &nbsp &nbsp &nbsp &nbsp</label>
    <input type="text" th:name="age" id="age" th:value="${user.age}">
    <br> <br>
    <label for="profession">Profession</label>
    <input type="text" th:name="profession" id="profession" th:value="${user.profession}">
    <br> <br>
    <label for="username">Username</label>
    <input type="text" th:name="username" id="username" th:value="${user.username}">
    <br> <br>
    <label for="password">Password</label>
    <input type="text" th:name="password" id="password" th:value="${user.password}">
    <br> <br>
    <input type="hidden" th:name="role1.id" th:value="${id1}">
    <input type="checkbox" th:name="role1" th:value="ROLE_USER" th:checked="${user.roles.size()>0}"> User
    <br> <br>
    <input type="hidden" th:name="role2.id" th:value="${id2}" th:disabled="${user.roles.size()<2}">
    <input type="checkbox" th:name="role2" th:value="ROLE_ADMIN" th:checked="${user.roles.size()>1}"> Admin
    <br> <br>
    <input type="submit" value="Submit">
    <br> <br>
    <input type="reset" value="Clear">
</form>
<br>
<h5> <a th:href="@{/logout}">Logout</a> </h5>

</body>
</html>